@import url(navbar.css);
@import url(menu.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
    --button-border: rgb(209 213 219);
    --button-bg: rgb(79 70 229);
    --menutarget: rgb(241 245 249);
}
